---
<<<<<<< HEAD
import Layout from "@Layout/Base.astro";
---

<Layout>
	<section
		class="flex h-screen flex-grow flex-col items-center justify-center text-center">
		<a
			class="text-2xl tracking-wider"
			href="mailto:hi@grenadier.dev"
			rel="noopener noreferrer"
			target="_blank"
			>hi@grenadier.dev
		</a>
	</section>
</Layout>

<style>
	a {
		color: #0ca678;
	}
</style>
=======
import Base from "@Layout/Base.astro";
---

<Base />
>>>>>>> Fork/Current
