---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<style>
		a {
			color: #0ca678;
		}
	</style>
	<section
		class="
			flex flex-col flex-grow
			h-screen
			items-center
			justify-center
			text-center
		"
	>
		<a
			class="text-2xl tracking-wider"
			href="mailto:hi@grenadier.dev"
			rel="noopener noreferrer"
			target="_blank">hi@grenadier.dev</a
		>
	</section>
</BaseLayout>
