---
import Meta from './components/Meta.astro';
import Links from './components/Links.astro';
import Favicon from './components/Favicon.astro';

const { title = 'GrenadierJS', description = 'Full-stack, multi-client JavaScript Framework built on Solid, GraphQL, and Prisma' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="no-js" dir="ltr">
	<head>
		<script type="module">
			document.documentElement.classList.remove("no-js");
			document.documentElement.classList.add("js");
		</script>

		<Meta title="{title}" description="{description}" />
		<Links />
		<Favicon />

		<!-- Service Worker -->
		<script
			type="module"
			src={Astro.resolve('../assets/js/pwaupdate.js')}
		></script>
	</head>
	<body>
		<div id="grenadier-web" class="flex flex-grow">
			<slot></slot>
		</div>

		<!-- Initialize Firebase -->
		<script
			type="module"
			src={Astro.resolve('../assets/js/firebase.js')}
		></script>

		<!-- Initialize WebFonts -->
		<script>
			WebFontConfig = {
				google: {
					families: ["Fira Sans:400&display=swap"],
				},
				events: false,
			};
		</script>
		<script
			async
			src={Astro.resolve('../assets/js/webfontloader.js')}
		></script>
	</body>
</html>
